* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Source Code Pro', monospace;
}

html {
    overflow-x: hidden;
}

strong {
    font-weight: 800;
}

a {
    text-decoration: none;
    color: white;
}


/* ---------------------------- HEADER ------------------- */

header {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.header-bar {
    background-color: #2A2A2A;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

header i {
    margin: 0 0.5rem;
    font-size: 2rem;
    color: white;
}

.logo {
    display: flex;
}

.logo p {
    font-size: 2.5rem;
    font-weight: 800;
}

.logo i {
    position: relative;
    top: 0.7rem;
}

nav ul,
nav input {
    display: none;
}

nav input:checked~ul {
    display: block;
}

nav {
    position: relative;
    background-color: #333333;
}

nav ul {
    border-bottom: .5rem solid #2A2A2A;
}

nav label {
    position: absolute;
    right: 1rem;
    top: -3rem;
}

nav a {
    color: white;
    font-weight: 300;
    padding: 0.5rem 1rem;
}

nav li {
    padding: 1rem 1rem;
    list-style: none;
}

nav span {
    font-weight: 500;
}

.logo:hover,
nav i:hover,
nav a:hover {
    color: orange;
    transition: 300ms all;
}

.logo:active,
nav i:active,
nav a:active {
    color: rgba(253, 172, 21, 0.425);
}

nav i:active {
    animation: rotation 300ms 1 linear;
    transition: 50ms;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}


/* ------------------------ MAIN ----------------------- */

main {
    height: 90vh;
}

.main-container {
    background-image: url(../img/lightbulb3.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.title {
    font-size: 3rem;
}

.main-item {
    margin: 1rem;
}

.subtitle {
    font-size: 1.2rem;
}

.main-item i:hover {
    transform: scale(2);
    transition: 100ms;
}

.main-item i:active {
    transform: scale(2.1);
    transition: 200ms all;
    color: orange;
}


/* --------------- ANIMACIÓN TYPING ------------------- */

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
        visibility: visible;
    }
}

@keyframes barra {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}

.typewriter h2 {
    overflow: hidden;
    animation: barra .75s step-end infinite, typing 3s steps(100, end) 1;
    border-right: .15em solid orange;
    margin: 0;
}

.typewriter h2#cursor {
    overflow: hidden;
    animation: barra .75s step-end 2.75, typing 3s steps(100, end) 1;
    border-right: .15em solid transparent;
}

.typewriter h2:nth-child(1) {
    animation-delay: 0s;
}

.typewriter h2:nth-child(2) {
    visibility: hidden;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}


/* ----------------------MEDIA QUERIES------------------ */